<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wyclipse.editor.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="whiley"
            icon="icons/sample.gif"
            id="wyclipse.editor.WhileyEditor"
            name="Whiley File Editor">
      </editor>
   </extension>


</plugin>
