<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wyclipse.editor.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="whiley"
            icon="icons/sample.gif"
            id="wyclipse.editor.Editor"
            name="Whiley File Editor">
      </editor>
   </extension>
   <extension
         id="whileyBuilder"
         name="Whiley Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="wyclipse.builder.Builder">
         </run></builder>
   </extension>
   <extension
         id="WhileyNature"
         name="Whiley Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="wyclipse.ProjectNature1">
         </run>
      </runtime>
      <builder
            id="wyclipse.whileyBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Create a new Whiley Module."
            id="wyclipse.newModuleActionSet"
            label="Whiley Module"
            visible="true">
         <menu
               id="wyclipse.newModuleMenu"
               label="Whiley Module">
         </menu>
         <action
               class="wyclipse.actions.OpenNewModuleView"
               id="wyclipse.newModuleAction"
               label="Module"
               menubarPath="file/new/group.top"
               pulldown="true"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="wyclipse.navigatorNewModule"
            targetID="org.eclipse.jdt.ui.PackageExplorer">
         <action
               class="wyclipse.actions.OpenNewModuleView"
               id="wyclipse.navigatorNewModule"
               label="Whiley Module"
               menubarPath="file/new">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="org.eclipse.ant.ui.antShortcut.run"
               label="Module"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="wyclipse"
            name="Sample Wizards">
      </category>
      <wizard
            category="wyclipse"
            class="wyclipse.wizards.NewModuleWizard"
            icon="icons/sample.gif"
            id="wyclipse.wizards.WhileyModuleNewWizard"
            name="Multi-page Editor file">
      </wizard>
   </extension>


</plugin>
