<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="wyclipse.editor.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="whiley"
            icon="icons/sample.gif"
            id="wyclipse.editor.Editor"
            name="Whiley File Editor">
      </editor>
   </extension>
   <extension
         id="whileybuilder"
         name="Whiley Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="wyclipse.builder.Builder">
         </run></builder>
   </extension>
   <extension
         id="whileynature"
         name="Whiley Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="wyclipse.whileybuilder">
      </builder>
      <runtime>
         <run
               class="wyclipse.natures.WhileyNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="WhileyNewWizard"
         name="Whiley New Module Wizard"
         point="org.eclipse.ui.newWizards">
      <category
            id="wyclipse.whileyCategory"
            name="Whiley">
      </category>
      <wizard
            category="wyclipse.whileyCategory"
            class="wyclipse.wizards.NewModuleWizard"
            icon="icons/newmodule_wiz.gif"
            id="wyclipse.newModuleWizard"
            name="Whiley Module"
            project="false">
      </wizard>
      <primaryWizard
            id="wyclipse.newModuleWizard">
      </primaryWizard>
      <wizard
            category="wyclipse.whileyCategory"
            class="wyclipse.wizards.NewProjectWizard"
            icon="icons/newwprj_wiz.gif"
            id="wyclipse.newProjectWizard"
            name="Whiley Project"
            project="true">
      </wizard>
      <primaryWizard
            id="wyclipse.newProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         id="whileymarker"
         name="Whiley Syntax Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="wyclipse.launchers.WhileyLauncher"
            id="wyclipse.whileylaunchconfig"
            modes="run"
            name="Whiley Application">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="wyclipse.wyilCommonFilter"
            name="&quot;*.wyil resources&quot;">
	<filterExpression>
	  <and>
	    <adapt type="org.eclipse.core.resources.IResource">
	      <test property="org.eclipse.core.resources.name" value="*.wyil"/>
	    </adapt>
	  </and>
        </filterExpression>

      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
	  viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	<includes>
	  <contentExtension pattern="wyclipse.wyilCommonFilter"/> 
	</includes>	
      </viewerContentBinding>
   </extension>


</plugin>
